.add-mail {
    background-color: white;
    gap: .5rem;

    position: fixed;
    bottom: 10px;
    right: 5vw;

    padding: 1rem;
    width: 35vw;
    height: 70vh;

    >section{
        >button{
            background-color: white;
            border: none;
            font-size: 1.2em;
        }
    }

    >input {
        width: 100%;
        border: none;
        box-shadow: 0px 1px 0px 0px var(--mail-txt-clr-2);
    }

    >label {
        height: 100%;
        >input{
            border: none;
        }
    }

    >button {
        position: absolute;
        bottom: 10px;
        padding: .7em 2em;

        background-color: #297BE6;
        border: none;
        border-radius: 2em;

        color: white;
        font-weight: bold;

        &:hover{
            background-color: #3f89ea;
            box-shadow: 0px 0px 1px 1px #297BE6;
        }
    }

    input:focus {
        outline: none;
    }

}

