.add-mail {
    background-color: white;
    gap: .5rem;

    position: fixed;
    bottom: 10px;
    right: 10vw;

    padding: 2rem;
    width: 40vw;
    height: 50vh;


    >input {
        width: 100%;
        border: none;
    }

    >button {
        position: absolute;
        bottom: 10px;

        background-color: #297BE6;
        border: none;
        padding: 1em 2em;
        border-radius: 2em;
    }


}