.mail-list {
    background-color: white;
    width: 85vw;
    border-radius: 1rem;

    .sort {
        margin: 1rem;
        height: 3rem;
        gap: 2rem;
        align-items: end;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 2rem;
            height: 2rem;

            cursor: pointer;
            border-radius: 50%;

            &:hover {
                background-color: rgba(174, 174, 174, 0.254);
            }
            
            &.active {
                background-color: var(--mail-clr-active);
            }
        }

    }

    img {
        width: 1.3rem;
        height: 1.3rem;
    }

    >ul {
        list-style-type: none;
        padding: 0;
    }
}