.mail-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    height: 5vh;

    padding-inline: 1rem;
    box-shadow: 0px -1px 0px var(--mail-bg-clr1);
    cursor: pointer;

    >h3 {
        position: absolute;
        left: 3rem;
    }

    section {
        gap: 1rem;
        padding-inline: 1rem;
    }

    &.read {
        background-color: var(--mail-bg-clr2);

        >h3 {
            font-weight: normal;
        }
    }

    &:hover {
        box-shadow: 0px 0px 5px var(--mail-txt-clr-1);
    }
}

.content {
    position: absolute;
    width: 65vw;
    padding-inline-end: 1rem;
    left: 15vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.fa-solid.fa-star {
    color: gold;
}