.mail-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    padding-inline: 1rem;
    box-shadow: -1px 1px 0px var(--mail-bg-clr1);
    cursor: pointer;

    &.read {
        background-color: var(--mail-bg-clr2);

        >h3 {
            font-weight: normal;
        }
    }

    &:hover {
        box-shadow: -1px 1px 5px var(--mail-txt-clr-1);
    }
}

.long-txt{
    position: absolute;
    left: 20%
}