.mail-compose {
    background-color: white;
    gap: .5rem;

    position: fixed;
    bottom: 10px;
    right: 5vw;

    width: 30vw;
    height: 65vh;
    padding-inline: 1rem;

    border-radius: .5rem;
    box-shadow: 0px 0px 5px 0px var(--mail-txt-clr-2);
    font-weight: bold;

    >section {
        position: relative;
        justify-content: end;
        align-items: center;

        margin: .5rem;

        >p {
            color: rgb(4, 30, 73);
            position: absolute;
            left: 0;
        }

        >button {
            background-color: inherit;
            border: none;
            font-size: 1.2em;

            >img {
                width: 1.3rem;
            }
        }
    }

    >input {
        width: 100%;
        padding: .3rem;

        border: none;
        box-shadow: 0px 1px 0px 0px var(--mail-txt-clr-2);
    }

    >textarea {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
    }

    >button {
        position: absolute;
        bottom: 10px;
        padding: .7em 2em;

        background-color: #297BE6;
        border: none;
        border-radius: 2em;

        color: white;
        font-weight: bold;

        &:hover {
            background-color: #3f89ea;
            box-shadow: 0px 0px 1px 1px #297BE6;
        }
    }

    input:focus {
        outline: none;
    }

    &.loading {
        opacity: .5;
        pointer-events: none;
    }

}