@media (max-width: 750px) {
  .app-header {
    display: grid;
    grid-template-columns: auto 1fr;

    > nav {
      justify-self: center;
      grid-row: 2;
      grid-column: span 2;
    }
  }
}

@media (max-width: 550px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .app-header {
    > nav {
      font-size: 0.8rem;
    }
  }

  .logo {
    width: 200px;
  }
}
