:root {
    --main-bg-color: lightblue;

    /* Mail Vars */
    --mail-bg-clr: #F8FAFD;
    --mail-bg-clr1: #E9EEF6;
    --mail-bg-clr2: #F2F6FC;

    --mail-txt-clr-1: #767678;
    --mail-txt-clr: #202124;
}