:root {
  --main-bg-color: lightblue;

  /* Mail Vars */
  --mail-bg-clr: #f8fafd;
  --mail-bg-clr1: #e9eef6;
  --mail-bg-clr2: #f2f6fc;

    --mail-txt-clr-2: #d0d0d0;
    --mail-txt-clr-1: #767678;
    --mail-txt-clr: #202124;
}
