.add-note {
  text-align: center;

  > form {
    > input {
      width: 50vw;
      max-width: 600px;
      padding: 1rem;
      border: 1px solid #dadce0;
      border-radius: 8px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

      font-size: 1rem;
      outline: none;
    }
  }
}

.full-note-input {
  width: 50vw;
  max-width: 600px;
  border: 1px solid #dadce0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  margin: auto;
  border-radius: 15px;

  display: grid;

  overflow: hidden;

  > * {
    padding: 1rem;
    border: none;
    font-size: 1rem;
    outline: none;
  }

  > :nth-child(1) {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.todo-input-container {
  justify-self: start;
}

.todo-input {
  outline: none;
  border: none;
  font-size: 1rem;
}

.todo-preview {
  text-align: start;
}

.input-features {
  display: flex;
  > img {
    width: 20px;
  }
}
