.note-list {
  padding: 1rem;
}

.notes-container {
  max-width: 100%;
  padding: 1rem;
  padding: 1rem;

  column-count: 4;
  column-gap: 0.5rem;
}

.note {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #dadce0;

  display: inline-block;
  > .note-icons {
    > img {
      width: 15px;
      cursor: pointer;
    }
  }
}

.note-todo {
  list-style: none;
  padding: 0;
  margin: 0;
}

.doto-done {
  text-decoration: line-through;
}

.note-photo {
}
