.note-list {
  padding: 1rem;
}

.notes-container {
  column-count: 4;
  column-gap: 1rem;
}

.note {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

  display: inline-block;
}
