.open-note {
  position: absolute;
  top: 30%;
  left: 50%;
  translate: -50% -30%;

  background-color: var(--clr-note-bg-1);

  .max-height {
    max-height: 500px;
  }
}

.note-black-screen {
  background-color: rgba(0, 0, 0, 0.409);

  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
}
