.open-note {
  position: absolute;
  top: 30%;
  left: 50%;
  translate: -50% -50%;

  width: 50vw;
  max-width: 600px;
  padding: 0.8rem;
  border: 1px solid #dadce0;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

  font-size: 1rem;
  outline: none;
  background-color: var(--clr-note-bg-1);
}

.note-black-screen {
  background-color: rgba(0, 0, 0, 0.409);

  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
}
