 /* mail index  */
 .mail-index {
     height: 100vh;

     padding: 1rem;
     background-color: var(--mail-bg-clr);
     color: var(--mail-txt-clr);

     >nav {
         >button {
             background-color: rgb(194, 231, 255);
             font-weight: 500;
             border: none;
             padding: 1.2rem 2.2rem;
             border-radius: .8rem;
         }
     }
 }