.book-details {
  display: grid;
  grid-template-columns: 20vw 40vw;
  justify-items: start;
  justify-content: center;
  align-items: center;
  column-gap: 5vw;
}

.book-img-container {
  justify-self: end;
  display: grid;
  grid-column: 1;
  grid-row: 1 / span 10;

  > :nth-child(1) {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  > :nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }

  > :nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
}

.cabookr-details h1 {
  color: var(--clr1);
  font-size: 2em;
}

.book-details h5 {
  color: var(--clr2);
}

.book-details img {
  max-width: 200px;
  display: block;
  margin: auto;
}

.red {
  color: red;
}

.green {
  color: green;
}

.on-sale {
  padding: 5px;

  position: absolute;
  left: 10px;
  transform: rotate(-25deg);

  background-color: red;
  color: rgb(255, 208, 0);
}

.read-more-btn {
  color: rgb(0, 0, 0);
  cursor: pointer;

  &:hover {
    color: var(--clr-primary-4);
  }
}

.long-text {
  > p {
    margin-bottom: 0;
  }
}

.show-reviews {
  background-color: var(--clr-primary-1);
  font-size: 1.5rem;

  width: 100%;

  display: grid;
  gap: 10px;
  grid-column: span 2;
}

.review-row {
  border: 3px solid var(--clr-primary-2);
  border-radius: 10px;
  padding: 10px;

  display: grid;
  justify-items: center;
  align-items: center;

  > :nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  > :nth-child(3) {
    grid-column: 1;
  }

  > :nth-child(4) {
    grid-column: 2;
    grid-row: 1 / span 3;
  }

  position: relative;

  > p {
    margin: 0px;
  }
}

.delete-review {
  cursor: pointer;
  background-color: var(--clr-primary-4);

  position: absolute;
  right: 2px;

  width: 2rem;
  border-radius: 50%;

  &:hover {
    background-color: var(--clr-primary-3);
  }
}
