.book-edit {
  text-align: center;
}

.book-edit form {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 1.5rem;
  font-family: 'sora', sans-serif;
  width: 50vw;
  margin: auto;
  margin-top: 50px;

  > :nth-child(odd) {
    justify-self: end;
  }

  > :nth-child(even) {
    justify-self: start;
  }
}

.book-edit form input {
  max-width: 300px;
}

.loading {
  color: grey;
  pointer-events: none;
}
