.add-review {
  background-color: var(--clr-primary-2);

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  padding: 1rem;
  width: 40vw;
}

.review-form {
  display: grid;
  justify-items: center;
  gap: 1rem;

  font-size: 2rem;

  > input {
    font-size: 1.5rem;
  }
}

.review-btns {
  display: grid;
  grid-auto-flow: column;

  > button {
    width: 5rem;
  }
}
