.user-msg {
  background-color: var(--clr-primary-1);
  padding: 0.5em 1em;
  position: fixed;
  bottom: 0;
  right: 1em;
  font-weight: bold;
  border-radius: 2px;
}

.user-msg.success {
  background-color: var(--clr-primary-4);

  > button {
    background-color: var(--clr-primary-1);
  }
}

.user-msg.error {
  background-color: var(--clr-primary-2);
}

.user-msg button {
  float: right;
  margin: 1em;
}
