* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button{
  cursor: pointer;
}