/* Setup */

@import './setup/variables.css';
@import './setup/typography.css';

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';
@import './basics/layout.css';

/* Pages */
@import './pages/home.css';
@import './pages/About.css';
@import './apps/note/pages/NoteIndex.css';
@import './apps/mail/pages/MailIndex.css';

/* Cmps */
@import './cmps/UserMsg.css';
@import './cmps/AppHeader.css';
@import './cmps/Loader.css';
@import './cmps/app-links.css';

/* Notes */
@import './apps/note/cmps/NoteSideBar.css';
@import './apps/note/cmps/NoteList.css';
@import './apps/note/cmps/OpenNote.css';
@import './apps/note/cmps/AddNote.css';
@import './apps/note/cmps/NoteFilter.css';
@import './apps/note/cmps/InputFeatures.css';

/* Mail */
@import './apps/mail/cmps/MailList.css';
@import './apps/mail/cmps/MailPreview.css';
@import './apps/mail/cmps/MailCompose.css';
@import './apps/mail/cmps/MailFilter.css';

/* MQ */
@import './setup/mqNote.css';