/* Setup */

@import './setup/variables.css';
/* @import './setup/fonts.css'; */

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';
@import './basics/layout.css';

/* Pages */
@import './pages/home.css';

/* Notes */
@import './apps/note/pages/NoteIndex.css';
@import './apps/note/cmps/NoteHeader.css';
@import './apps/note/cmps/NoteSideBar.css';
@import './apps/note/cmps/NoteList.css';
@import './apps/note/cmps/OpenNote.css';

/* Email */
/* @import './apps/mail/pages/MailIndex.css'; */

/* Cmps */

@import './cmps/UserMsg.css';
@import './cmps/AppHeader.css';

/* @import './apps/mail/cmps/MailList.css'; */
