header {
  background: var(--clr-note-bg-1);
  border-bottom: 2px solid var(--clr-note-bg-3);
}

.app-header {
  display: grid;
  grid-template-columns: 0.3fr 3fr 2fr;
  justify-items: start;
  align-items: center;
  padding: 20px;
  text-transform: uppercase;

  > :nth-child(3) {
    justify-self: end;
  }
}

nav a {
  margin: 0.5em;
}

nav a:active {
  color: purple;
}

nav a.active {
  color: rgb(22, 81, 149);
  font-weight: bold;
  text-decoration: overline;
}

.burger-container {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    background-color: var(--clr-note-bg-2);
    border-radius: 50%;
  }
}

.burger {
  width: 60%;
  height: auto;
}

.logo {
  width: 250px;
}
